
.detalBox{
  margin-top:0.5rem;
  display: flex;
  justify-content: center;
}

.detalBox .iconBox{
  background-color: #f7f7f7;
  width: 100%;
  padding: 0.2rem;
}
.detalBox .iconBg{
  background-color: #e8edeb;
  width:1.16rem;
  height:1.16rem;
  border-radius: 1.16rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 auto;
}

.deleteButton{
  background-color: #ffffff;
  font-size:0.14rem;
  color:#bcbaba;
  border: 1px #e1e3e7 solid;
  border-radius: 0.05rem;
  width:1.16rem;
  height:0.3rem;
  margin-top:0.2rem;
}

.detalBox .iconBox img{
  width:0.96rem;
  height:0.96rem;
}